/* 1. додайте клас до h1 і зробіть весь текст для класу заглавними літерами (text-transform: uppercase) */
.title {
  text-transform: uppercase;
}
  /* 2. придумайте назву класа для списку цілей і встановіть колір шрифту червоним у шістнадцятковому форматі */
  
  /* 3. пунктам списку цілей за класом дайте колір заднього фону yellow і нахилений шрифт (font-style: italic)*/
  .goals {
    color: #ff0000;
    background-color: yellow;
    font-style: italic;
  }
  .ab2 {
    border: 1px solid blue;
    text-align: right;
  }
 
  /* 4. для усіх впорядкованих списків задайте рамку 1px solid red */
  ol{
    border: 1px solid red;
  }
  
  /* 5. задайте id (ідентифікатор) для заголовку першого рівня і встановіть на нього колір шрифта green */
  #head {
    color: green;
  }
  /* 6. для всіх посилань на PDF-документи втсановити стиль: колір зелений і font-style: italic */
  a[href$=".pdf"] {
    color: green;
    font-style: italic;
}
 /* 7. для всіх посилань втсановити колір шрифта violet та заберыть підкреслення (text-decoration: none).
     Питання: чому PDF-файли вже не підкреслені але все ж лишились зелені? */
  a{
    color: violet;
    text-decoration: none;
  }
  
  /* 8. Встановіть всі заглавні літери (text-transform: uppercase) для усіх вкладнених списків другого рівня*/
  ul ul {
    text-transform: uppercase;
  }
  /* 9. для всіх посилань що знаходяться всередині абзаців встановити колір шрифта magenta і задній фон кольору mistyrose */
  p a {
    color: magenta;
    background-color: mistyrose;
}
  /* 10. створити клас bold який буде будь-який текст перетворювати на жирний і застосувати його: 1) до двох останіх   пунктів цілей 2) до першого довгого абзацу (той що під основним заголовком).
    Питання: чому у нас одночасно і bold i italic?
  */
  .bold {
    font-weight: bold;
  }
  /* 11. для всіх тегів li з класом bold встановити всі заглавні літери */
  li.bold {
    text-transform: uppercase;
  }
  /* 12. другий довгий абзац і передостанній "Написати нам листа" вирійвняйте по правому краю, додайте синю рамку навколо та встановіть розмір шрифта 20px */
  .rightt {
    text-align: right;
    border: 1px solid blue;
    font-size: 20px;
  }
  /* 13. на тег h1 встановіть колір шрифта червоний. Чому він не спрацює і що можна зробити щоб він спрацював?*/
  h1 {
    color: red;
}
  /* 14. для всіх можливих селекторів встановіть властивість box-sizing: border-box (у DevTools перегляньте які CSS властивості у елементів активні і визначте чи успішно виконано завдання) */
  * {
    box-sizing: border-box;
  }
  /* 15. зробіть так, щоб задній фон цілей був не на всю ширину сторінки бо це блочці елементи, а лише по довжині кожного з елементів (відповідь: огорнути текст у рядкові span-и застосувати background до них) */
  .goals span {
    background-color: yellow;
  }
  