* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Checkpoint: початкова стадія */
  
  /* 1. для addresses-wrapper задайте внутрішні відступи 20 пікселів. Використані іконки і зображення надто великі і заважають подальшій верстці - встановимо їм початкові розміри: ширина address__icon - 70 пікселя, address__status 32. */
  .addresses-wrapper {
    display: flex;
    padding: 20px;
    gap: 1%;
  }
  /* 2. Задайте початковий чорновий стиль для блоку з адресою: задайте тінь з таким значенням: 3px 3px 10px rgba(0, 0, 0, 0.3), внутрішні відступи (верх\низ - 40, ліворуч\праворуч - 20 пікселів), скруглені края у 10 пікселя, зверніть увагу стриль шрифта (він нахилений а треба щоб був звичайний), задайте задній фон блоку кольору #FFE4C4 */
  .address {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 40px 20px;
    border-radius: 10px;
    font-style: normal;
    background-color: #FFE4C4;
    
  
  }
  /* Checkpoint: Задано початковий чорновий стиль блоку адреси */
 
  /* 3. Застилемо кнопку для видалення адреси (посилання з хрестиком). Для цього встановіть:
  - задній фон #FF8E50
  - колір тексту білий
  - приберіть нижнє підкреслення яке за замовченням є у посилань
  - розмір шрифта - 36px
  - міжрядковий інтервал зменшіть до 20px
  - збільшість внутрішні відступи до 10 пікселів з усіх боків (легше буде натискати пальцем\мишею)
  - зробіть шрифт жирним щоб хрестик став товстіше (хрестик це спецсимвол, але все ж звичайний текст)
  - додайте незвичний радіус блоку - по 10 пікселів у правому-верхньому і у лівому-нижньому кутках
  */
  
  .address__delete-btn {
    position:absolute;
    top: 10px;
    right: 10px;
    background-color: #FF8E50;
    color: white;
    font-size: 36px;   
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 10px 0 0 10px;
  }

  /* 4. При наведенні миші на кнопку видалення необхідно змінювати її задній фон на #FFD050 */
  .address__delete-btn:hover {
    background: #FFD050;
}
  /* Checkpoint: Застилемо кнопку для видалення адреси */
  
  /* 5. Щоб наші іконки статусу (зелена галочка) та видалення адресу (посилання з хрестиком) не заважали нам з текстом і були на своїх місцях - позиціонуйте їх у блоці з адресою таким чином, щоб вони виглядали як треба (відступи від краю блоку - по 10 пікселів). ПІДКАЗКА: для цього вам треба змінити тип позиціювання як блоку адреси так і обох кнопок. */
  .address__status {
    width: 32px;
    position: absolute;
    bottom: 10px;     
    right: 10px;
  }
  /* Checkpoint: Позиціювання кнопки видалення та іконки статусу */
  
  /* 6. Після назви адреси повинен бути розрив і зовнішній відступ у 10 пікселів щоб відділити трохи від решти тексту. Подумайте як це зробити і чому у нас розриву зараз немає. */
  .address__header {
    display: block;
    margin-bottom: 10px;
  }
  /* 7. Іконка адреси повинна бути ліворуч, а текст щоб обтікав її праворуч. Крім того, додайте зовнішній відступ справа від іконки у 10 пікселів інакше іконка буде надто близько до тексту */
  .address__icon {
    width: 100px;
    float: left;
    margin-right: 10px;
}
  
  /* Checkpoint: Позиціювання іконки адреси і заголовку */
  
  /* 8. Додамо до HTML частини кілька змін, які покращать користувальницький досвід і аксесабіліті блоку: для кнопки видалення при наведенні миші показуйте спливаючу підказку з текстом "Видалити", а для іконки статусу адреси (зелена галочка) - текст "Встановлено за замовченням". Увага, тут змін CSS не передбачається */
  
  /* 9. Після цього ще кілька змін до HTML:
  - скопіюйте ваш блок адреси так, щоб .addresses-wrapper містив 3 блоки з адресами
  - видаліть з 2 і 3-го блоків зображення зелені іконки активних адрес (бо активною, або "поточною" може бути зазвичай тільки одна адреса)
  Увага, тут змін CSS не передбачається
  - змініть у адресах нумерацію та назву країни (на решту тексту не витрачайте час)
  */
  
  /* Checkpoint: Редагування HTML: 3 блоки і видалення зайвих статусів */
  
  /* 10. Блоки виглядають не зовсім гарно особливо на широкому екрані. Розмістіть ці блоки у один рядок таким чином, щоб ширина кожного блоку з адресою була 32% (від ширини батьківського блоку звісно), а відступи зовнішні - 1% (з усіх боків). Але у вас буде одна проблема - останній блок ніяк не ставатиме у рядок а буде переноситись.*/
  .address {
    position: relative;
    display: inline-block;
    width: 32%;
    margin: 1%;
  }
  /* 11. Попередня проблема виникла тому що загальна ширина трьох блоків включно з їх відступами = 1%+32%+1% + 1%+32%+1% + 1%+32%+1% = 102% 
  Як бачите - маємо зайві 2  відсотки які і не дозволяють останньому блоку влізти у рядок тому він переноситься. Один з варіантів вирішення проблеми - позбутись зовнішніх відступів у першого (обнулити лівий відступ який дорівнює 1%) та останнього блоку адреси (обнулити правий відступ який дорівнює 1%). Таким чином у нас у сумі вийде 100% від доступної ширини зовнішнього блоку .addresses-wrapper. Щоб краще бачити і контролювати до яких блоків ми застосовуємо наші відступи - до лівого блоку задайте салатовий колір (#F0FFC1), а правому бірюзовий (#B6FFDA). Увага - HTML не змінюємо, робимо все селекторами. */
  .address:first-child {
    background-color: #F0FFC1;
    margin-left: 0;
}

.address:last-child {
    background-color: #B6FFDA;
    margin-right: 0;
}
  /* Checkpoint: Розміщуємо адреси у один рядок */
  
  /* 12. При наведенні миші на будь-який блок з адресою необхідно змінювати його задній фон на світло-сірий #F3F3F3  */
  .address:hover {
    background-color: #F3F3F3;
}
  /* 13. Наші адреси на вузьких екранах (мобільні пристрої) не вміщуються. Використовуючи попередньо-вставлену конструкцію медіа-запиту (@media для вюпортів не більше 767 пікселя) змініть для блоку .address так стилі, щоб вони були на всю ширину батьківського блоку. Крім того, треба обнулити усі зовнішні відступи блоку окрім нижнього - встановіть йому 20 пікселів. Протестуйте результат змінюючи ширину зони перегляду у CodePen чи SandBox */
  @media (max-width: 767px) {
    .address {
        width: 100%;
        margin: 20px;
    }
}
  
  /* Checkpoint: Виконане завдання (мобільний вигляд) */
  /* Checkpoint: Виконане завдання (десктопний вигляд) */
  
  
  /* Додаткове завдання: зробити так, щоб можна було вставити 6 і більше карток з адресами корректно у документ. Підказка - треба в двох місцях змінити селектори а стилі лишити ті самі */
  